In [25]:
# Load Pandas into Python
import pandas as pd
from matplotlib import pyplot as plt

%matplotlib inline

In [ ]:
# Dummy cell 
# Plan work in Statement of Work
# Start by EDA

## Dataset

- Amazon Fine Food Reviews dataset
- Number of reviews: 568,454
- Number of users: 256,059
- Number of products: 74,258
- Timespan: Oct 1999 - Oct 2012
- Number of Attributes/Columns in data: 10

In [26]:
# Read Amazon Fine Food Review
csv_path = 'Data/Raw/amazon_fine_food_reviews.csv'
reviews = pd.read_csv(csv_path)

In [28]:
reviews

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...
...,...,...,...,...,...,...,...,...,...,...
568449,568450,B001EO7N10,A28KG5XORO54AY,Lettie D. Carter,0,0,5,1299628800,Will not do without,Great for sesame chicken..this is a good if no...
568450,568451,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0,0,2,1331251200,disappointed,I'm disappointed with the flavor. The chocolat...
568451,568452,B004I613EE,A121AA1GQV751Z,"pksd ""pk_007""",2,2,5,1329782400,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
568452,568453,B004I613EE,A3IBEVCTXKNOH,"Kathy A. Welch ""katwel""",1,1,5,1331596800,Favorite Training and reward treat,These are the BEST treats for training and rew...
568453,568454,B001LR2CU2,A3LGQPJCZVL9UC,srfell17,0,0,5,1338422400,Great Honey,"I am very satisfied ,product is as advertised,..."

In [33]:
reviews.Text[100]

'The mouth says, "How do I love thee, let me count the ways..."<br />If you like apple products a must have item.  The only draw back, shipping cost.  These are very heavy.'

In [32]:
reviews.Summary[100]

'Taste wise it is a 6 star item'

In [34]:
# Show duplicates, sorted by UserId (as the same user may have logged the same product more than once)
userids = reviews["UserId"]
reviews[userids.isin(userids[userids.duplicated()])].sort_values("UserId")

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
180871,180872,B007Y59HVM,#oc-R115TNMSPFT9I7,Breyton,2,3,2,1331510400,"""Green"" K-cup packaging sacrifices flavor",Overall its just OK when considering the price...
83317,83318,B005ZBZLT4,#oc-R115TNMSPFT9I7,Breyton,2,3,2,1331510400,"""Green"" K-cup packaging sacrifices flavor",Overall its just OK when considering the price...
290947,290948,B005HG9ESG,#oc-R11D9D7SHXIJB9,"Louis E. Emory ""hoppy""",0,0,5,1342396800,Muscle spasms,"My wife has recurring extreme muscle spasms, u..."
496893,496894,B005HG9ET0,#oc-R11D9D7SHXIJB9,"Louis E. Emory ""hoppy""",0,0,5,1342396800,Muscle spasms,"My wife has recurring extreme muscle spasms, u..."
455533,455534,B005HG9ERW,#oc-R11D9D7SHXIJB9,"Louis E. Emory ""hoppy""",0,0,5,1342396800,Muscle spasms,"My wife has recurring extreme muscle spasms, u..."
...,...,...,...,...,...,...,...,...,...,...
414106,414107,B0029XEXZE,AZZU4D6TZ2L6J,"Sherry King ""llamasmama""",2,2,5,1247875200,cheese,My father thought this was the best cheese eve...
361526,361527,B0029XITW2,AZZU4D6TZ2L6J,"Sherry King ""llamasmama""",2,2,5,1247875200,cheese,My father thought this was the best cheese eve...
338488,338489,B000AXSG2Q,AZZV9PDNMCOZW,"Anne B. Ward ""Dr Anne B""",0,0,5,1329436800,Just what I needed,This is a great addition to my Torani syrup. I...
422837,422838,B003SNX4YA,AZZV9PDNMCOZW,"Anne B. Ward ""Dr Anne B""",0,0,4,1329436800,I like it,Even though this mix is not as spicy as I anti...
312407,312408,B001E5E2QI,AZZV9PDNMCOZW,"Anne B. Ward ""Dr Anne B""",1,1,5,1310428800,Love this syrup,I love this syrup. It is my personal substitut...

In [77]:
userids = reviews["Text"]
reviews[userids.isin(userids[userids.duplicated()])].sort_values("Text")[50:70]
# Apparently this looks as fake reviews

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
198944,198945,B000OQ2DJQ,A1C2FZ3612VBCB,Jeff,0,0,5,1323993600,The only thing missing that I was looking for ...,"""Excellent vendor that I would use again. (The..."
323169,323170,B000OQ2DL4,A1C2FZ3612VBCB,Jeff,0,0,5,1323993600,The only thing missing that I was looking for ...,"""Excellent vendor that I would use again. (The..."
394020,394021,B000WVY4PE,A1C2FZ3612VBCB,Jeff,0,0,5,1323993600,The only thing missing that I was looking for ...,"""Excellent vendor that I would use again. (The..."
257898,257899,B00125ZCWI,A1C2FZ3612VBCB,Jeff,0,0,5,1323993600,The only thing missing that I was looking for ...,"""Excellent vendor that I would use again. (The..."
356366,356367,B003SSWCJI,A1C2FZ3612VBCB,Jeff,0,0,5,1323993600,The only thing missing that I was looking for ...,"""Excellent vendor that I would use again. (The..."
157349,157350,B0019QT66I,A1C2FZ3612VBCB,Jeff,0,0,5,1323993600,The only thing missing that I was looking for ...,"""Excellent vendor that I would use again. (The..."
188892,188893,B001E0TBA0,A1C2FZ3612VBCB,Jeff,0,0,5,1323993600,The only thing missing that I was looking for ...,"""Excellent vendor that I would use again. (The..."
360253,360254,B000WVYB8Y,A1C2FZ3612VBCB,Jeff,0,0,5,1323993600,The only thing missing that I was looking for ...,"""Excellent vendor that I would use again. (The..."
466120,466121,B001E18K8S,A1C2FZ3612VBCB,Jeff,0,0,5,1323993600,The only thing missing that I was looking for ...,"""Excellent vendor that I would use again. (The..."
186279,186280,B002LN1ME2,A1C2FZ3612VBCB,Jeff,0,0,5,1323993600,The only thing missing that I was looking for ...,"""Excellent vendor that I would use again. (The..."
83516,83517,B005ZBZLT4,A10H24TDLK2VDP,William Jens Jensen,0,0,5,1339632000,This is the best one yet!,"""Fog Chaser""...a great description! Extremely ..."
181070,181071,B007Y59HVM,A10H24TDLK2VDP,William Jens Jensen,0,0,5,1339632000,This is the best one yet!,"""Fog Chaser""...a great description! Extremely ..."
535479,535480,B000F1W5LQ,A1RZ3DCJ14XWPV,Christophe Moreau,0,0,5,1343001600,Good Stuff,"""Good stuff"". Excellent for thai food and spic..."
449376,449377,B000F1X8IU,A1RZ3DCJ14XWPV,Christophe Moreau,0,0,5,1343001600,Good Stuff,"""Good stuff"". Excellent for thai food and spic..."
216859,216860,B008EG5ADY,A1Y3X3C1VLGAES,John Morton,0,0,5,1340236800,"Not to sound like an ad, but it's ""Healthy and...","""Healthy and delicious? You've got to be kiddi..."
313705,313706,B005OVPK9G,A1Y3X3C1VLGAES,John Morton,0,0,5,1340236800,"Not to sound like an ad, but it's ""Healthy and...","""Healthy and delicious? You've got to be kiddi..."
511408,511409,B001A5VLYS,A1OEFC5IF5QD9J,MerryJane,2,2,5,1308873600,Great Tea at a great price!,"""I am a hardened and shameless tea drinker"" Sa..."
510770,510771,B000PILF24,A1OEFC5IF5QD9J,MerryJane,2,2,5,1308873600,Great Tea at a great price!,"""I am a hardened and shameless tea drinker"" Sa..."
74855,74856,B0026RQTGE,A2L9D8C8HN5PMQ,"N. Silver ""Cats Rule!""",0,0,5,1330732800,Woof,"""I love them""<br /><br /> - Winston the dog<b..."
329636,329637,B002QWHJOU,A2L9D8C8HN5PMQ,"N. Silver ""Cats Rule!""",0,0,5,1330732800,Woof,"""I love them""<br /><br /> - Winston the dog<b..."

In [78]:
# reviews.groupby('ProductId').count()
reviews.sort_values('ProductId',ascending=False).groupby('ProductId').head(3)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
327600,327601,B009WVB40S,A3ME78KVX31T21,K'la,0,0,5,1351123200,Tasty!,I purchased this to send to my son who's away ...
5702,5703,B009WSNWC4,AMP7K1O84DH1T,ESTY,0,0,5,1351209600,DELICIOUS,Purchased this product at a local store in NY ...
328481,328482,B009UUS05I,ARL20DSHGVM1Y,Jamie,0,0,5,1331856000,Perfect,The basket was the perfect sympathy gift when ...
1477,1478,B009UOFU20,AJVB004EB0MVK,D. Christofferson,0,0,1,1345852800,weak coffee not good for a premium product and...,"This coffee supposedly is premium, it tastes w..."
191720,191721,B009UOFTUI,AJVB004EB0MVK,D. Christofferson,0,0,1,1345852800,weak coffee not good for a premium product and...,"This coffee supposedly is premium, it tastes w..."
...,...,...,...,...,...,...,...,...,...,...
24749,24750,2734888454,A13ISQV0U9GZIC,Sandikaye,1,1,2,1192060800,made in china,My dogs loves this chicken but its a product f...
515425,515426,141278509X,AB1A5EGHHVA9M,CHelmic,1,1,5,1332547200,The best drink mix,This product by Archer Farms is the best drink...
150495,150496,0006641040,A3KKR87BJ0C595,"Gretchen Goodfellow ""Lover of children's lit""",3,3,5,1111363200,"You'll use it once, you'll use it twice",One of my earliest memories is of this book. ...
150512,150513,0006641040,ASH0DZQQF6AIZ,tessarat,0,0,5,1325721600,A classic,I remembered this book from my childhood and g...
150514,150515,0006641040,A2RTT81R6Y3R7X,Lindylu,0,0,5,1303171200,One of our family's favorite books,This book is a family favorite and was read to...

In [79]:
reviews.groupby('ProductId').size().sort_values(ascending=False).head(7)

ProductId
B007JFMH8M    913
B0026RQTGE    632
B002QWHJOU    632
B002QWP89S    632
B002QWP8H0    632
B003B3OOPA    623
B001EO5Q64    567
dtype: int64

In [67]:
reviews[reviews['ProductId']=='B00141OU50'].head(5)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
315398,315399,B00141OU50,A3QZ6JT0R1OWEC,"M. Goldman ""M_gold~""",0,0,1,1324080000,Made in China treats still KILLING dogs - ABC ...,"Yes, dogs love these treats but educate yourse..."
315399,315400,B00141OU50,A1IL6W1NK05UW9,"C. Baker ""cbaker""",0,0,4,1277510400,A Treat My Dog Loves,Happy Hips are one of my little monster's favo...
315400,315401,B00141OU50,A11OTLEDSW8ZXD,CGScammell,0,0,4,1276819200,Three out of Three Dogs plus one Cat love these,I have been buying these chicken jerky treats ...
315401,315402,B00141OU50,A45VR3HRDC8F,Sheba,0,0,4,1276387200,Glucossamin and chondroitin in a snack!,"My 15 year old loves, I mean adores this treat..."
315402,315403,B00141OU50,A2DDW7U3VQXT39,N. Unger,0,0,5,1274140800,Happy Hips Lamb and Rice,I have a Yorkiechon puppy that loves this trea...

In [69]:
reviews[reviews['ProductId']=='B00141UC9I'].head(5)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
12090,12091,B00141UC9I,A3QZ6JT0R1OWEC,"M. Goldman ""M_gold~""",0,0,1,1324080000,Made in China treats still KILLING dogs - ABC ...,"Yes, dogs love these treats but educate yourse..."
12091,12092,B00141UC9I,A1IL6W1NK05UW9,"C. Baker ""cbaker""",0,0,4,1277510400,A Treat My Dog Loves,Happy Hips are one of my little monster's favo...
12092,12093,B00141UC9I,A11OTLEDSW8ZXD,CGScammell,0,0,4,1276819200,Three out of Three Dogs plus one Cat love these,I have been buying these chicken jerky treats ...
12093,12094,B00141UC9I,A45VR3HRDC8F,Sheba,0,0,4,1276387200,Glucossamin and chondroitin in a snack!,"My 15 year old loves, I mean adores this treat..."
12094,12095,B00141UC9I,A2DDW7U3VQXT39,N. Unger,0,0,5,1274140800,Happy Hips Lamb and Rice,I have a Yorkiechon puppy that loves this trea...

In [81]:
# Sort by same productId
reviews.sort_values(by='ProductId')

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
150528,150529,0006641040,A25ACLV5KPB4W,"Matt Hetling ""Matt""",0,1,4,1108425600,"Nice cadence, catchy rhymes",In June<br />I saw a charming group<br />of ro...
150506,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,4,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...
150505,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,4,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc..."
150504,150505,0006641040,A2PTSM496CF40Z,"Jason A. Teeple ""Nobody made a greater mistak...",1,1,4,1210809600,A classic,Get the movie or sound track and sing along wi...
150503,150504,0006641040,AQEYF1AXARWJZ,"Les Sinclair ""book maven""",1,1,4,1212278400,Chicken Soup with Rice,A very entertaining rhyming story--cleaver and...
...,...,...,...,...,...,...,...,...,...,...
191720,191721,B009UOFTUI,AJVB004EB0MVK,D. Christofferson,0,0,1,1345852800,weak coffee not good for a premium product and...,"This coffee supposedly is premium, it tastes w..."
1477,1478,B009UOFU20,AJVB004EB0MVK,D. Christofferson,0,0,1,1345852800,weak coffee not good for a premium product and...,"This coffee supposedly is premium, it tastes w..."
328481,328482,B009UUS05I,ARL20DSHGVM1Y,Jamie,0,0,5,1331856000,Perfect,The basket was the perfect sympathy gift when ...
5702,5703,B009WSNWC4,AMP7K1O84DH1T,ESTY,0,0,5,1351209600,DELICIOUS,Purchased this product at a local store in NY ...
327600,327601,B009WVB40S,A3ME78KVX31T21,K'la,0,0,5,1351123200,Tasty!,I purchased this to send to my son who's away ...

In [115]:
# Create deduplicated frame
# First by sorting the values by their ProductId
# Second by dropping duplicates using all columns (which in proven cases are mostly similar) but the product id (which we have seen it differs)
# reviews_dd = reviews.sort_values(by='ProductId').drop_duplicates(subset=['UserId', 'ProfileName', 'HelpfulnessNumerator', 'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'])
# reviews_dd = reviews.sort_values(by='ProductId').drop_duplicates(subset=['UserId', 'ProfileName', 'Score', 'Time', 'Summary', 'Text'])
# Either keeping or removing Time is valid depending on the approach
reviews_dd = reviews.sort_values(by='ProductId').drop_duplicates(subset=['UserId', 'Text'])

### Takes on ProductId
- We know ProductId's are duplicated, yielded by their ID and not the review
- The duplicate contains a close ID, but not identical, so we need to choose 1
- We should need only the unique product for every duplicate, we'd get rid of duplicates

In [116]:
reviews_dd.head(10)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
150528,150529,0006641040,A25ACLV5KPB4W,"Matt Hetling ""Matt""",0,1,4,1108425600,"Nice cadence, catchy rhymes",In June<br />I saw a charming group<br />of ro...
150506,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,4,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...
150505,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,4,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc..."
150504,150505,0006641040,A2PTSM496CF40Z,"Jason A. Teeple ""Nobody made a greater mistak...",1,1,4,1210809600,A classic,Get the movie or sound track and sing along wi...
150503,150504,0006641040,AQEYF1AXARWJZ,"Les Sinclair ""book maven""",1,1,4,1212278400,Chicken Soup with Rice,A very entertaining rhyming story--cleaver and...
150502,150503,0006641040,A3R5XMPFU8YZ4D,"Her Royal Motherliness ""Nana""",1,1,5,1233964800,so fun to read,This is my grand daughter's and my favorite bo...
150501,150502,0006641040,AVFMJ50HNO21J,Jane Doe,1,1,4,1324944000,"Tiny little book, Wonderful little rhymes.",This copy is smaller than I expected (mostly b...
150500,150501,0006641040,AJ46FKXOVC7NR,Nicholas A Mesiano,2,2,5,940809600,This whole series is great way to spend time w...,I can remember seeing the show when it aired o...
150498,150499,0006641040,A3E7R866M94L0C,"L. Barker ""simienwolf""",2,2,5,1065830400,Can't explain why,This book has been a favorite of mine since I ...
150497,150498,0006641040,A3SJWISOCP31TR,R. J. Wells,2,2,5,1176336000,A Gem of a Book,This is a wonderful little book. I loved it 40...

In [117]:
len(reviews_dd)

393606

In [118]:
reviews_dd.groupby('ProductId').size().sort_values(ascending=False).head(100)

ProductId
B007JFMH8M    912
B0026RQTGE    630
B003B3OOPA    623
B001EO5Q64    565
B000VK8AVK    562
             ...
B004391DK0    232
B000VK08OC    232
B001BCVY4W    229
B0083T6HC0    226
B000FMZO8G    225
Length: 100, dtype: int64

In [119]:
userids = reviews_dd["Text"]
reviews_dd[userids.isin(userids[userids.duplicated()])].sort_values("Text")[0:10]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
167380,167381,B007PE7ANY,A175V064HK7417,Zev,8,10,5,1337299200,New to KIND,I LOVE these bars! I first started eating them...
398955,398956,B001D09KAM,A1ZNU29B56MYHY,JNB,1,1,5,1336953600,Love these!,I LOVE these bars! I first started eating them...
72029,72030,B007K449CE,A1OMHUU58XHQNG,"SKY2110 ""SKY2110""",0,0,5,1344211200,Leaves hair soft,I am very selective about what type of shampoo...
288044,288045,B007JT7AEY,AEL6CQNQXONBX,Cute Chihuahua,0,0,4,1344124800,Leaves my hair very soft and prevents itchy sc...,I am very selective about what type of shampoo...
565333,565334,B001EO5U3I,A1Z46QE3HMBB2B,Amy E. Ayers,1,2,5,1226793600,Best Oatmeal in the World,I bought a 4-pack of this oatmeal for a reason...
565139,565140,B001EO5U3I,A1MHI2RJAE5BBJ,Melinda C.,1,1,5,1238284800,The Best Oatmeal,I bought a 4-pack of this oatmeal for a reason...
438257,438258,B000FFIEL2,A293UPVW99U4YD,--,2,4,1,1326326400,Ewwwww,I bought this because I got reading all the fa...
247484,247485,B000FFLTM8,A1TD3AFB3V110H,Martin Stiefer,1,4,2,1328486400,This stuff is terrible,I bought this because I got reading all the fa...
1791,1792,B001RVFDOO,A1D0N7I6OHX3WU,firsttimemom,3,5,1,1306454400,Weird flavors....,I don't know why everyone loves these chips. T...
172389,172390,B001B3JAL0,A2I6WOIJNJSEB,S. Shepard,1,3,2,1328227200,Tastes disgusting,I don't know why everyone loves these chips. T...

### Explored data cleant using ProductId and duplicates

In [120]:
reviews_dd.head(5)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
150528,150529,0006641040,A25ACLV5KPB4W,"Matt Hetling ""Matt""",0,1,4,1108425600,"Nice cadence, catchy rhymes",In June<br />I saw a charming group<br />of ro...
150506,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,4,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...
150505,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,4,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc..."
150504,150505,0006641040,A2PTSM496CF40Z,"Jason A. Teeple ""Nobody made a greater mistak...",1,1,4,1210809600,A classic,Get the movie or sound track and sing along wi...
150503,150504,0006641040,AQEYF1AXARWJZ,"Les Sinclair ""book maven""",1,1,4,1212278400,Chicken Soup with Rice,A very entertaining rhyming story--cleaver and...

In [121]:
reviews_dd.Score.value_counts()

5    250737
4     56035
1     36282
3     29759
2     20793
Name: Score, dtype: int64

In [122]:
reviews.Score.value_counts()

5    363122
4     80655
1     52268
3     42640
2     29769
Name: Score, dtype: int64

In [131]:
reviews_dd['DateTime']=reviews_dd['Time'].apply(lambda x: datetime.datetime.fromtimestamp(x))

In [133]:
reviews_dd.head(4)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,DateTime
150528,150529,0006641040,A25ACLV5KPB4W,"Matt Hetling ""Matt""",0,1,4,1108425600,"Nice cadence, catchy rhymes",In June<br />I saw a charming group<br />of ro...,2005-02-15 01:00:00
150506,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,4,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...,2007-10-04 02:00:00
150505,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,4,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc...",2007-11-11 01:00:00
150504,150505,0006641040,A2PTSM496CF40Z,"Jason A. Teeple ""Nobody made a greater mistak...",1,1,4,1210809600,A classic,Get the movie or sound track and sing along wi...,2008-05-15 02:00:00

In [138]:
# Look for NaN values
reviews_dd.isnull().sum()

Id                         0
ProductId                  0
UserId                     0
ProfileName               11
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                    3
Text                       0
DateTime                   0
dtype: int64

### New insights
- ProfileName might not be useful, as UserId determines the identity of the user
- Time column should be removed
- Null values are just a few but will be removed too
- Column removal will be performed before Modelling

In [140]:
# Check specs match a Dataset
print("Num of reviews: ", len(reviews_dd))
print("Number of different products: ", len(reviews_dd.groupby('ProductId').count()))
print("Number of different users: ", len(reviews_dd.groupby('UserId').count()))
print("Num of cols: ", len(reviews_dd.columns))

# Same users because we didn't remove any
# Reviews have decreased because of deduplication
# Over 7k products have been removed (because of duplicates)

Num of reviews:  393606
Number of different products:  67477
Number of different users:  256059
Num of cols:  11

In [141]:
# Check specs match a Dataset
print("Num of reviews: ", len(reviews))
print("Number of different products: ", len(reviews.groupby('ProductId').count()))
print("Number of different users: ", len(reviews.groupby('UserId').count()))
print("Num of cols: ", len(reviews.columns))

Num of reviews:  568454
Number of different products:  74258
Number of different users:  256059
Num of cols:  10

In [142]:
# Remove null values
reviews_dd.dropna(inplace=True)

In [143]:
len(reviews_dd)

393592

In [152]:
reviews.HelpfulnessNumerator.value_counts()

0      303826
1      116467
2       53727
3       29007
4       16963
        ...
446         1
155         1
580         1
355         1
808         1
Name: HelpfulnessNumerator, Length: 231, dtype: int64

In [162]:
reviews_dd.sort_values(by='HelpfulnessNumerator').head(10)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,DateTime
150528,150529,0006641040,A25ACLV5KPB4W,"Matt Hetling ""Matt""",0,1,4,1108425600,"Nice cadence, catchy rhymes",In June<br />I saw a charming group<br />of ro...,2005-02-15 01:00:00
206740,206741,B001UFSOXE,A60G1XIHOLWU6,The Pink Apron,0,0,4,1328918400,Nice presentation,I bought this as a gift for a friend that we b...,2012-02-11 01:00:00
206738,206739,B001UFSOXE,AU5ZU28CW5C8,ctm,0,0,5,1344211200,nice sampler,Sent this to my daughter who loves coffee. Sh...,2012-08-06 02:00:00
206737,206738,B001UFSOXE,A13JJJWZZ3X0RH,ARK,0,0,5,1344643200,Love it,I've enjoyed tasting different coffees from ar...,2012-08-11 02:00:00
206735,206736,B001UFSOXE,A3SFGTWU5FA25T,lisa passarelli,0,0,5,1350604800,Love,Each packet of coffee has a unique flavor. I f...,2012-10-19 02:00:00
206734,206735,B001UFSOXE,A2BBZGVLEGIAVN,"G. Chen ""what is in a nickname""",0,0,5,1351036800,Just got this in the mail,I am so happy with this! I got this as a pres...,2012-10-24 02:00:00
206736,206737,B001UFSOXE,A23NRI14M8V5VI,"K-9 Lover ""gemnutz""",0,0,5,1347062400,Great for new cofffee drinker,I am a new home-brewed coffee drinker and for ...,2012-09-08 02:00:00
206746,206747,B001UFSOXE,A24XJHBH9DNI8D,Jorge Ramirez,0,2,5,1298332800,Muy Agradecido,"Hola,<br /><br />Tome la decision de comprar e...",2011-02-22 01:00:00
91585,91586,B001UFU13A,A3VYN3EQYIG1PJ,Brian J Stewart,0,1,5,1306281600,"not an expert, but thought they were great",I'm trying to get into sardines as a relativel...,2011-05-25 02:00:00
560016,560017,B001UFYG5Y,A3PS94981MVD3G,mikey,0,0,3,1339459200,Good enough,This is the first food item i have ever ordere...,2012-06-12 02:00:00

In [163]:
# Feature engineering
reviews_dd['Popularity'] = reviews_dd['HelpfulnessNumerator'] - reviews_dd['HelpfulnessDenominator']

In [171]:
reviews['Popularity'] = reviews['HelpfulnessNumerator'] - reviews['HelpfulnessDenominator']

In [174]:
reviews[reviews['Popularity'] > 0]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Popularity
44736,44737,B001EQ55RW,A2V0I904FH7ABY,Ram,3,2,4,1212883200,Pure cocoa taste with crunchy almonds inside,It was almost a 'love at first bite' - the per...,1
64421,64422,B000MIDROQ,A161DK06JJMCYF,"J. E. Stephens ""Jeanne""",3,1,5,1224892800,Bought This for My Son at College,My son loves spaghetti so I didn't hesitate or...,2

In [159]:
# Number of ikes to the review
reviews_dd.HelpfulnessNumerator.value_counts()

0      207139
1       80459
2       37837
3       20800
4       12461
        ...
145         1
159         1
346         1
429         1
319         1
Name: HelpfulnessNumerator, Length: 230, dtype: int64

In [151]:
# Number of dislikes to the review
reviews_dd.HelpfulnessDenominator.value_counts()

0      184497
1       78403
2       42737
3       24274
4       16018
        ...
132         1
195         1
569         1
322         1
323         1
Name: HelpfulnessDenominator, Length: 233, dtype: int64

In [177]:
reviews_dd

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,DateTime,Popularity
150528,150529,0006641040,A25ACLV5KPB4W,"Matt Hetling ""Matt""",0,1,4,1108425600,"Nice cadence, catchy rhymes",In June<br />I saw a charming group<br />of ro...,2005-02-15 01:00:00,-1
150506,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,4,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...,2007-10-04 02:00:00,0
150505,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,4,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc...",2007-11-11 01:00:00,0
150504,150505,0006641040,A2PTSM496CF40Z,"Jason A. Teeple ""Nobody made a greater mistak...",1,1,4,1210809600,A classic,Get the movie or sound track and sing along wi...,2008-05-15 02:00:00,0
150503,150504,0006641040,AQEYF1AXARWJZ,"Les Sinclair ""book maven""",1,1,4,1212278400,Chicken Soup with Rice,A very entertaining rhyming story--cleaver and...,2008-06-01 02:00:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...
193171,193172,B009RSR8HO,A3JJTHP8T7A8LY,"Joanne Eklund ""Joanne""",0,0,5,1350432000,Zero,FTS Zero is the best sweetener I have ever tri...,2012-10-17 02:00:00,0
188388,188389,B009SF0TN6,A1L0GWGRK4BYPT,Bety Robinson,0,0,5,1350518400,Amazing!! Great sauce for everything!,You have to try this sauce to believe it! It s...,2012-10-18 02:00:00,0
221794,221795,B009SR4OQ2,A32A6X5KCP7ARG,sicamar,1,1,5,1350604800,Awesome Taste,I bought this Hazelnut Paste (Nocciola Spread)...,2012-10-19 02:00:00,0
5702,5703,B009WSNWC4,AMP7K1O84DH1T,ESTY,0,0,5,1351209600,DELICIOUS,Purchased this product at a local store in NY ...,2012-10-26 02:00:00,0
327600,327601,B009WVB40S,A3ME78KVX31T21,K'la,0,0,5,1351123200,Tasty!,I purchased this to send to my son who's away ...,2012-10-25 02:00:00,0

In [14]:
reviews.rename(columns={"UserId": "user_id", "ProfileName": "prof_name", 'HelpfulnessNumerator': "help_num",
                        'HelpfulnessDenominator':'help_dom', 'Score': 'score', 'Time': 'time', "Summary": "summary", "Text": "text",
                        "Id": "id", "ProductId": "prod_id"}, inplace=True)

C:\Users\jordi.burgues.miro\AppData\Local\Temp\ipykernel_23696\3123467050.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews.rename(columns={"UserId": "user_id", "ProfileName": "prof_name", 'HelpfulnessNumerator': "help_num",

In [179]:
reviews.describe()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Popularity
count,568454.000000,568454.000000,568454.00000,568454.000000,5.684540e+05,568454.000000
mean,284227.500000,1.743817,2.22881,4.183199,1.296257e+09,-0.484993
std,164098.679298,7.636513,8.28974,1.310436,4.804331e+07,1.905591
min,1.000000,0.000000,0.00000,1.000000,9.393408e+08,-140.000000
25%,142114.250000,0.000000,0.00000,4.000000,1.271290e+09,0.000000
50%,284227.500000,0.000000,1.00000,5.000000,1.311120e+09,0.000000
75%,426340.750000,2.000000,2.00000,5.000000,1.332720e+09,0.000000
max,568454.000000,866.000000,923.00000,5.000000,1.351210e+09,2.000000

In [178]:
# Just for numeric columns
reviews_dd.describe()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Popularity
count,393592.000000,393592.000000,393592.000000,393592.000000,3.935920e+05,393592.000000
mean,282323.348396,1.733478,2.203907,4.179257,1.296475e+09,-0.470429
std,164744.258553,6.869012,7.531942,1.312009,4.837478e+07,1.907030
min,1.000000,0.000000,0.000000,1.000000,9.393408e+08,-140.000000
25%,140105.750000,0.000000,0.000000,4.000000,1.271462e+09,0.000000
50%,278318.500000,0.000000,1.000000,5.000000,1.311638e+09,0.000000
75%,428456.250000,2.000000,2.000000,5.000000,1.332979e+09,0.000000
max,568454.000000,866.000000,923.000000,5.000000,1.351210e+09,2.000000

### Are there any outliers?
- Column inspection

In [185]:
reviews_dd.head(4)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,DateTime,Popularity
150528,150529,0006641040,A25ACLV5KPB4W,"Matt Hetling ""Matt""",0,1,4,1108425600,"Nice cadence, catchy rhymes",In June<br />I saw a charming group<br />of ro...,2005-02-15 01:00:00,-1
150506,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,4,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...,2007-10-04 02:00:00,0
150505,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,4,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc...",2007-11-11 01:00:00,0
150504,150505,0006641040,A2PTSM496CF40Z,"Jason A. Teeple ""Nobody made a greater mistak...",1,1,4,1210809600,A classic,Get the movie or sound track and sing along wi...,2008-05-15 02:00:00,0

In [188]:
reviews_dd['Year']=reviews_dd['Time'].apply(lambda x: datetime.datetime.fromtimestamp(x).year)

In [190]:
reviews_dd.Year.value_counts()

2012    139093
2011    113428
2010     57964
2009     37862
2008     23102
2007     15756
2006      4722
2005      1062
2004       442
2003        99
2002        33
2000        17
2001         8
1999         4
Name: Year, dtype: int64

In [193]:
corr = reviews.corr()
corr.style.background_gradient(cmap='coolwarm')

C:\Users\jordi.burgues.miro\AppData\Local\Temp\ipykernel_16016\1165495871.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = reviews.corr()

In [192]:
corr = reviews_dd.corr()
corr.style.background_gradient(cmap='coolwarm')

C:\Users\jordi.burgues.miro\AppData\Local\Temp\ipykernel_16016\2201804329.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = reviews_dd.corr()

In [195]:
reviews_dd.head(4)
# UserId might not be useful because we have no info, so whoever writes the review should not affect the sentiment, as we care
# about the sentiment only, not about who does it

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,DateTime,Popularity,Year
150528,150529,0006641040,A25ACLV5KPB4W,"Matt Hetling ""Matt""",0,1,4,1108425600,"Nice cadence, catchy rhymes",In June<br />I saw a charming group<br />of ro...,2005-02-15 01:00:00,-1,2005
150506,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,4,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...,2007-10-04 02:00:00,0,2007
150505,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,4,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc...",2007-11-11 01:00:00,0,2007
150504,150505,0006641040,A2PTSM496CF40Z,"Jason A. Teeple ""Nobody made a greater mistak...",1,1,4,1210809600,A classic,Get the movie or sound track and sing along wi...,2008-05-15 02:00:00,0,2008

In [218]:
reviews_dd[reviews_dd['Score'] == 3].Summary[50:60]

149776                     Not good for Easter egg coloring
149840                                      duplicate color
149844                                    What's the Catch?
149787    This is the same product as Americolor,apparently
149809                       Some colors better than others
149838    Don't use to color white chocolate or candy co...
293721               Dry mouth patient reviews Biotene gum.
342019                                                Gross
465589                                         not the same
205976                Novelty food is not always novel food
Name: Summary, dtype: object

In [219]:
reviews_dd[reviews_dd['Score'] == 3].Summary[600:700]

40010                                    Good but not great
39992                          Not good with an air popper.
541194                                              Popcorn
564710                                           No Popcorn
490627                                                Small
                                ...
432897                                    Addictive Cookies
432633              Ok, but cookie better without chocolate
497321                                           VERY Lemon
516780    Illy is better, but Kimbo is decent for the price
131888     love the product - but don't buy for this price!
Name: Summary, Length: 100, dtype: object

In [220]:
reviews_dd[reviews_dd['Score'] == 3].Summary[6000:7000]

333319    pretty decent way to have milk without any goi...
333342    If you prefer dry-nonfat milk to the 'real' st...
333294                                                  Duh
149214                  good taste but high sucrose content
149215                                                 WOW!
                                ...
49663                                                    OK
49659                         Artificial extract - not pure
174672                      Very Good But Pricey and Scales
442337        Packaged version of a German Christmas staple
2600                                             It is okay
Name: Summary, Length: 1000, dtype: object

### First approach: Binary classifier without removing mixed scores
## Feature engineering
- 1, 2, 3 will be categorized as negative sentiments
- 4 and 5 as positive ones

In [222]:
reviews_dd['Score'][reviews_dd['Score'] <= 3] == 0

150496    False
150494    False
150527    False
150526    False
150525    False
          ...
68917     False
352209    False
271311    False
38511     False
146373    False
Name: Score, Length: 86827, dtype: bool

In [229]:
# Create empty column for binarized score
reviews_dd['binary_score'] = 0

In [230]:
# Replace only the positive reviews by 1, leave the others with 0 (being negative)
reviews_dd.loc[reviews_dd['Score'] > 3,'binary_score'] = 1

In [231]:
reviews_dd.head(5)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,DateTime,Popularity,Year,binary_score
150528,150529,0006641040,A25ACLV5KPB4W,"Matt Hetling ""Matt""",0,1,4,1108425600,"Nice cadence, catchy rhymes",In June<br />I saw a charming group<br />of ro...,2005-02-15 01:00:00,-1,2005,1
150506,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,4,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...,2007-10-04 02:00:00,0,2007,1
150505,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,4,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc...",2007-11-11 01:00:00,0,2007,1
150504,150505,0006641040,A2PTSM496CF40Z,"Jason A. Teeple ""Nobody made a greater mistak...",1,1,4,1210809600,A classic,Get the movie or sound track and sing along wi...,2008-05-15 02:00:00,0,2008,1
150503,150504,0006641040,AQEYF1AXARWJZ,"Les Sinclair ""book maven""",1,1,4,1212278400,Chicken Soup with Rice,A very entertaining rhyming story--cleaver and...,2008-06-01 02:00:00,0,2008,1

### SOW (rephrased)
- Problem statement
  - Find out how sentiment analysis affects the way a review is written.

- Project goals
  - What makes a review positive, mixed or negative (are adjectives on satisfaction?, is it about the product characteristics? is it about anything else? is it the price?) -> method to answer 'How do customers feel about our products and brands?'
  - ML classification on sentiment: classify text reviews by assigning its sentiment (classify the score) -> method to answer 'Can we predict how customers will rate our products based on their reviews?'
  - Analyze trend: Top products with more reviews and (or) Top products with most liked reviews. Based on product popularity. Analyze when did the reviews come out (which products have been reviewed most recently (latest Years)) -> How can we identify emerging trends in customer opinions and forecast future preferences?

- Objectives
  - Preprocess text accordingly to match a 'review standard' that'll help us correlate it with its category (positive, mixed or negative)
  - Find the most appropriate reliable classifier based on evaluation and interpretation
      - Provide appropriate metrics and visuals to support the conclusions
  - What needs to be improved based on products (is it price reduction? is it product packaging? quite tricky to determine)

### Preprocessing text reviews

In [241]:
reviews_dd.head(1)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,DateTime,Popularity,Year,binary_score
150528,150529,0006641040,A25ACLV5KPB4W,"Matt Hetling ""Matt""",0,1,4,1108425600,"Nice cadence, catchy rhymes",In June<br />I saw a charming group<br />of ro...,2005-02-15 01:00:00,-1,2005,1

In [245]:
sample_phrase = reviews_dd['Text'][150528]

In [ ]:
# Remove capital letters
# Remove punctuation signs (stop words)
# Remove special characters
# Remove HTML tags
# Remove URLs or similar 'links'
# Remove numbers
# Two steps:
    # Pure preprocessing (remove the above)
    # Tokenization (to fit the model)

In [258]:
re.__version__

'2.2.1'

In [248]:
import re

In [249]:
hey = '>?how?*are?you'

In [290]:
 def preprocess(sentence):
     
    sentence = str(sentence)
    sentence = sentence.lower()
    # sentence = sentence.replace('{html}',"") 
    # For Regex Pattern Object
    cleanr = re.compile(r'<\s*[^>]*\s*>')
    cleantext = re.sub(cleanr, ' ', sentence)
    # re_clean = re.sub(r'[^a-z0-9A-Z_]',' ', cleantext)
    rem_url = re.sub(r'http\S+', '', cleantext)
    rem_num = re.sub('[0-9]+', '', rem_url)

    return rem_num

In [291]:
sample_phrase

"In June<br />I saw a charming group<br />of roses all begin<br />to droop<br />I pepped them up<br />with chicken soup!<br />Sprinkle once<br />sprinkle twice<br />sprinkle chicken soup<br />with rice<br /><br />This is a great book to teach children the months of the year. The repetition of the phrases and the funny little stories with accompanying pictures make for an ideal bedtime read. This isn't nearly as good as some of Sendak's other books (like Where the Wild Things are or Pierre: The Boy Who Didn't Care), but it still carries his unique brand of charm."

In [292]:
preprocess(sample_phrase)

"in june i saw a charming group of roses all begin to droop i pepped them up with chicken soup! sprinkle once sprinkle twice sprinkle chicken soup with rice  this is a great book to teach children the months of the year. the repetition of the phrases and the funny little stories with accompanying pictures make for an ideal bedtime read. this isn't nearly as good as some of sendak's other books (like where the wild things are or pierre: the boy who didn't care), but it still carries his unique brand of charm."

## Azure authentication and remaining dependencies

In [94]:
!az login

[
  {
    "cloudName": "AzureCloud",
    "homeTenantId": "cf36141c-ddd7-45a7-b073-111f66d0b30c",
    "id": "235cc5b8-77c0-4b3c-9730-9c2a83f8400b",
    "isDefault": false,
    "managedByTenants": [],
    "name": "Visual Studio Professional Subscription",
    "state": "Enabled",
    "tenantId": "cf36141c-ddd7-45a7-b073-111f66d0b30c",
    "user": {
      "name": "jordi.burgues.miro@avanade.com",
      "type": "user"
    }
  },
  {
    "cloudName": "AzureCloud",
    "homeTenantId": "cf36141c-ddd7-45a7-b073-111f66d0b30c",
    "id": "bec89544-8dd5-4d70-b6ae-422c8feb0a4a",
    "isDefault": true,
    "managedByTenants": [],
    "name": "Visual Studio Enterprise Subscription",
    "state": "Enabled",
    "tenantId": "cf36141c-ddd7-45a7-b073-111f66d0b30c",
    "user": {
      "name": "jordi.burgues.miro@avanade.com",
      "type": "user"
    }
  }
]

WARNING: A web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web browser is available or if the web browser fails to open, use device code flow with `az login --use-device-code`.

In [98]:
!pip install dotenv

Collecting dotenv
  Downloading dotenv-0.0.5.tar.gz (2.4 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

  error: subprocess-exited-with-error

  Ã— python setup.py egg_info did not run successfully.
  â”‚ exit code: 1
  â•°â”€> [76 lines of output]
      C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\site-packages\setuptools\__init__.py:80: _DeprecatedInstaller: setuptools.installer and fetch_build_eggs are deprecated.
      !!

              ********************************************************************************
              Requirements should be satisfied by a PEP 517 installer.
              If you are using pip, you can try `pip install --use-pep517`.
              ********************************************************************************

      !!
        dist.fetch_build_eggs(dist.setup_requires)
        error: subprocess-exited-with-error

        Ã— python setup.py egg_info did not run successfully.
        â”‚ exit code: 1
        â•°â”€> [16 lines of output]
            Traceback (most recent call last):
              File "<string>", line 2, in <module>
              File "<pip-setuptools-caller>", line 14, in <module>
              File "C:\Users\jordi.burgues.miro\AppData\Local\Temp\pip-wheel-1qlilpkf\distribute_b020453f5b314390bcb625abef1515bf\setuptools\__init__.py", line 2, in <module>
                from setuptools.extension import Extension, Library
              File "C:\Users\jordi.burgues.miro\AppData\Local\Temp\pip-wheel-1qlilpkf\distribute_b020453f5b314390bcb625abef1515bf\setuptools\extension.py", line 5, in <module>
                from setuptools.dist import _get_unpatched
              File "C:\Users\jordi.burgues.miro\AppData\Local\Temp\pip-wheel-1qlilpkf\distribute_b020453f5b314390bcb625abef1515bf\setuptools\dist.py", line 7, in <module>
                from setuptools.command.install import install
              File "C:\Users\jordi.burgues.miro\AppData\Local\Temp\pip-wheel-1qlilpkf\distribute_b020453f5b314390bcb625abef1515bf\setuptools\command\__init__.py", line 8, in <module>
                from setuptools.command import install_scripts
              File "C:\Users\jordi.burgues.miro\AppData\Local\Temp\pip-wheel-1qlilpkf\distribute_b020453f5b314390bcb625abef1515bf\setuptools\command\install_scripts.py", line 3, in <module>
                from pkg_resources import Distribution, PathMetadata, ensure_directory
              File "C:\Users\jordi.burgues.miro\AppData\Local\Temp\pip-wheel-1qlilpkf\distribute_b020453f5b314390bcb625abef1515bf\pkg_resources.py", line 1518, in <module>
                register_loader_type(importlib_bootstrap.SourceFileLoader, DefaultProvider)
            AttributeError: module 'importlib._bootstrap' has no attribute 'SourceFileLoader'
            [end of output]

        note: This error originates from a subprocess, and is likely not a problem with pip.
      error: metadata-generation-failed

      Ã— Encountered error while generating package metadata.
      â•°â”€> See above for output.

      note: This is an issue with the package mentioned above, not pip.
      hint: See above for details.
      Traceback (most recent call last):
        File "C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\site-packages\setuptools\installer.py", line 101, in _fetch_build_egg_no_warn
          subprocess.check_call(cmd)
        File "C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\subprocess.py", line 373, in check_call
          raise CalledProcessError(retcode, cmd)
      subprocess.CalledProcessError: Command '['C:\\Users\\jordi.burgues.miro\\AppData\\Local\\anaconda3\\envs\\test_env\\python.exe', '-m', 'pip', '--disable-pip-version-check', 'wheel', '--no-deps', '-w', 'C:\\Users\\JORDIB~1.MIR\\AppData\\Local\\Temp\\tmp4i43r9wm', '--quiet', 'distribute']' returned non-zero exit status 1.

      The above exception was the direct cause of the following exception:

      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        File "C:\Users\jordi.burgues.miro\AppData\Local\Temp\pip-install-1s04ynel\dotenv_59ae91881087415f8edaa71775b4d461\setup.py", line 13, in <module>
          setup(name='dotenv',
        File "C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\site-packages\setuptools\__init__.py", line 102, in setup
          _install_setup_requires(attrs)
        File "C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\site-packages\setuptools\__init__.py", line 75, in _install_setup_requires
          _fetch_build_eggs(dist)
        File "C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\site-packages\setuptools\__init__.py", line 80, in _fetch_build_eggs
          dist.fetch_build_eggs(dist.setup_requires)
        File "C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\site-packages\setuptools\dist.py", line 662, in fetch_build_eggs
          return _fetch_build_eggs(self, requires)
        File "C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\site-packages\setuptools\installer.py", line 38, in _fetch_build_eggs
          resolved_dists = pkg_resources.working_set.resolve(
        File "C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\site-packages\pkg_resources\__init__.py", line 829, in resolve
          dist = self._resolve_dist(
        File "C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\site-packages\pkg_resources\__init__.py", line 865, in _resolve_dist
          dist = best[req.key] = env.best_match(
        File "C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\site-packages\pkg_resources\__init__.py", line 1135, in best_match
          return self.obtain(req, installer)
        File "C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\site-packages\pkg_resources\__init__.py", line 1147, in obtain
          return installer(requirement)
        File "C:\Users\jordi.burgues.miro\AppData\Local\anaconda3\envs\test_env\lib\site-packages\setuptools\installer.py", line 103, in _fetch_build_egg_no_warn
          raise DistutilsError(str(e)) from e
      distutils.errors.DistutilsError: Command '['C:\\Users\\jordi.burgues.miro\\AppData\\Local\\anaconda3\\envs\\test_env\\python.exe', '-m', 'pip', '--disable-pip-version-check', 'wheel', '--no-deps', '-w', 'C:\\Users\\JORDIB~1.MIR\\AppData\\Local\\Temp\\tmp4i43r9wm', '--quiet', 'distribute']' returned non-zero exit status 1.
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Ã— Encountered error while generating package metadata.
â•°â”€> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

## Language Service

In [160]:
# Grab text reviews str from the df and put them in a list
list_text_review = list(reviews.text.values)

In [161]:
# Get environment variables of Language Endpoint and Key
import os
from dotenv import load_dotenv

load_dotenv()

from azure.core.credentials import AzureKeyCredential
from azure.ai.textanalytics import TextAnalyticsClient

endpoint = os.environ["AZURE_LANGUAGE_ENDPOINT"]
key = os.environ["AZURE_LANGUAGE_KEY"]

text_analytics_client = TextAnalyticsClient(endpoint=endpoint, credential=AzureKeyCredential(key))

In [163]:
result = text_analytics_client.analyze_sentiment(list_text_review[4:6], show_opinion_mining=True)
docs = [doc for doc in result if not doc.is_error]

print("Let's visualize the sentiment of each of these documents")
for idx, doc in enumerate(docs):
    print(f"Document text: {list_text_review[idx]}")
    print(f"Overall sentiment: {doc.sentiment}")

Let's visualize the sentiment of each of these documents
Document text: I have bought several of the Vitality canned dog food products and have found them all to be of good quality. The product looks more like a stew than a processed meat and it smells better. My Labrador is finicky and she appreciates this product better than  most.
Overall sentiment: positive
Document text: Product arrived labeled as Jumbo Salted Peanuts...the peanuts were actually small sized unsalted. Not sure if this was an error or if the vendor intended to represent the product as "Jumbo".
Overall sentiment: mixed